{% extends 'saludo/base.html'%}

{%block body%}
<ul>

    <h3>Listado de Tareas - {{year}}</h3>
    <a href="{%url 'crear_tarea'%}">Nueva tarea...</a>

    {%for etiqueta in etiquetas_populares%}
    <p>{{etiqueta.nombre}}</p>
    {%endfor%}

    <hr>

    {% for tarea in tareas %}

    {%if tarea.imagen%}
    <img src="{{tarea.imagen.url}}" alt="imagen {{tarea.nombre}}" width="200">
    {%endif%}

    <li>{{ tarea.nombre_mayuscula }}, Completada: {{tarea.completada}}. Activo: {{tarea.activo}}</li>
    
    {% if perms.todolist.change_tarea %}
    <a href="{%url 'editar' tarea.id %}">Editar esta tarea...</a>
    {%endif%}
    |
    {% if perms.todolist.delete_tarea %}
    <a href="{% url 'borrar' tarea.id %}">BORRAR</a>
    {%endif%}
    
    <hr>
    {% endfor %}
</ul>
{%endblock%}




<!-- <li>{{ tarea.responsable.username}}, {{tarea.etiquetas}}</li> -->
