{% extends 'saludo/base.html'%}

{%block body%}
<ul>

    <h3>Listado de Tareas</h3>
    <a href="{%url 'crear_tarea'%}">Nueva tarea...</a>

    <hr>

    {% for tarea in tareas %}

    {%if tarea.imagen%}
    <img src="{{tarea.imagen.url}}" alt="imagen {{tarea.nombre}}" width="200">
    {%endif%}

    <li>{{ tarea.nombre_mayuscula }}, Completada: {{tarea.completada}}. Activo: {{tarea.activo}}</li>
    <a href="{%url 'editar' tarea.id %}">Editar esta tarea...</a>
    | <a href="{% url 'borrar' tarea.id %}">BORRAR</a>
    <hr>
    {% endfor %}
</ul>
{%endblock%}




<!-- <li>{{ tarea.responsable.username}}, {{tarea.etiquetas}}</li> -->
