{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'saludo/styles.css'%}">
    <title>saludo-index</title>
</head>
<body>
    <nav>
        <img src="{%static 'saludo/itec.jpeg'%}" alt="logo" width="25px">
        <a href="{% url 'saludo' %}">Home</a>
        <a href="{% url 'tareas' %}">Tareas</a>
        <a href="{% url 'admin:index' %}">Admin</a>
        
        {%if user.is_authenticated%}
        <form action="{% url 'logout' %}" method="post">
            {%csrf_token%}
            <p>{{mensaje_bienvenida}}</p>
            <button type="submit">Cerrar sesión</button>
        </form>
        {%else%}
        <p>{{mensaje_bienvenida}} <a href="{% url 'login' %}">login</a></p>
    
        {%endif%}


        <img src="{%static 'saludo/itec.jpeg'%}" alt="logo" width="25px">
        {{year}} Todos los derechos reservados.
    </nav>
    {%block body%}
    <!-- acá se agregan cosas dsps -->
    {%endblock%}
</body>
</html>