{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'saludo/styles.css'%}">
    <title>saludo-index</title>
</head>
<body>
    <nav>
        <img src="{%static 'saludo/itec.jpeg'%}" alt="logo" width="25px">
        <a href="{% url 'saludo' %}">Saludar</a>
        <a href="{% url 'adios' %}">Despedir</a>
        <a href="{% url 'tareas' %}">Tareas</a>
        <a href="{% url 'admin:index' %}">Admin</a>
        <img src="{%static 'saludo/itec.jpeg'%}" alt="logo" width="25px">

    </nav>
    {%block body%}
    <!-- acá se agregan cosas dsps -->
    {%endblock%}
</body>
</html>